<div class="container-perfil">
    <img class="netflix-perfil" src="../../../assets/images/svg/netflix.svg" alt="">
    <div class="quem-esta-assistindo">
        <p>Quem está assistindo?</p>
        <div class="perfil"> 
            <a href=""><img src="../../../assets/images/perfis/imagem-perfil.jpg" alt="imagem perfil"></a>
            <a href=""><img src="../../../assets/images/perfis/imagem-perfil2.jpg" alt="imagem perfil"></a>
            <a href=""><img src="../../../assets/images/perfis/imagem-perfil3.png" alt="imagem perfil"></a>
            <a href=""><img src="../../../assets/images/perfis/imagem-perfil4.png" alt="imagem perfil"></a>
        </div>

    </div>
 
    <div class="btn-gerenciar"><p>Gerenciar perfis</p>
    </div>
</div>