<div class="container">
    <div class="barra-menu">
      <img class="icon-netflix" src="../assets/images/svg/netflix.svg" alt="Netflix">
      <div class="box-menu">
  
        <select class="idiomas">
      
          <option>Brazil</option>
          <option>English</option>
          <option>spanish</option>
        </select>
        <div class="btn-entrar"><p>entrar</p></div>
      </div>
    </div>
    <div class="texto-filmes">
      <div class="texto1"><p>
        Filmes, séries e muito mais, sem limites</p></div>
      <div class="texto2"><p>Assista onde quiser. Cancele quando quiser.</p></div>
      <div class="texto3"><p>Quer assistir? Informe seu email para criar ou reiniciar sua assinatura.</p></div>
      <div class="input-email">
        <input  type="email" autocomplete="email">
        <div class="brn-vamosla"><p>Vamos lá</p></div>
      </div>
  
    </div>
  </div>